@import "compass/css3";

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
/* /reset */

body {
    font-size:16px;
    font-family:ProximaNova-Regular;
}

.limit {
    display:table;
    width:1000px;
    margin:0 auto;
}

.link {
    color:#00aaff;
}
.link:hover {text-decoration:none}
.link-center {
    display:table;
    margin:10px auto 0;
}

h2 {
    font-size:24px;
    text-align:center;
    font-family:ProximaNova-Regular;
}

.dark {color:#181818}
.grey {color:#646464}
.blue {color:#00aaff}

.news {
    margin:40px 0 0 0; padding:30px 0;
    border-top:1px #f1f7fa solid;

    @include clearfix();
}
.news-list {
    margin:0 auto; padding:0;
    display:table;
    list-style:none;
}
.news-list__item {
    float:left;
    margin:0 35px;
}
