/* line 2, ../buttons.scss */
.button {
  margin: 0;
  padding: 0;
  border: none;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.26);
  font-size: 21px;
  width: 384px;
  height: 80px;
  position: relative;
  cursor: pointer;
  font-weight: normal;
  font-family: 'ProximaNova-Semibold';
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 15, ../buttons.scss */
.button-blue {
  background-color: #00b3ff;
  -moz-box-shadow: 0 1px 0 1px #1b8bbf;
  -webkit-box-shadow: 0 1px 0 1px #1b8bbf;
  box-shadow: 0 1px 0 1px #1b8bbf;
}
/* line 19, ../buttons.scss */
.button-blue:before {
  content: '';
  position: absolute;
  right: 18px;
  top: 50%;
  width: 43px;
  height: 43px;
  background: transparent url(../images/download-ico.png) no-repeat left top;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* line 28, ../buttons.scss */
.button-small {
  background: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  width: 165px;
  height: 45px;
  cursor: pointer;
  font-family: 'ProximaNova-Semibold';
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 37, ../buttons.scss */
.button-small-blue {
  border: 1px #00abff solid;
  color: #00aaff;
}
