/* line 176, small-icons/*.png */
.small-icons-sprite, .small-icons-icon1, .small-icons-icon10, .small-icons-icon11, .small-icons-icon12, .small-icons-icon13, .small-icons-icon14, .small-icons-icon15, .small-icons-icon16, .small-icons-icon17, .small-icons-icon2, .small-icons-icon3, .small-icons-icon4, .small-icons-icon5, .small-icons-icon6, .small-icons-icon7, .small-icons-icon8, .small-icons-icon9 {
  background-image: url('../images/sprites/small-icons-s5b860a94b9.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-icons-icon1 {
  background-position: 0 0;
  height: 49px;
  width: 49px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-icons-icon10 {
  background-position: 0 -49px;
  height: 38px;
  width: 48px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-icons-icon11 {
  background-position: 0 -87px;
  height: 42px;
  width: 48px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-icons-icon12 {
  background-position: 0 -129px;
  height: 48px;
  width: 42px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-icons-icon13 {
  background-position: 0 -177px;
  height: 48px;
  width: 48px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-icons-icon14 {
  background-position: 0 -225px;
  height: 47px;
  width: 48px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-icons-icon15 {
  background-position: 0 -272px;
  height: 42px;
  width: 48px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-icons-icon16 {
  background-position: 0 -314px;
  height: 48px;
  width: 40px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-icons-icon17 {
  background-position: 0 -362px;
  height: 47px;
  width: 41px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-icons-icon2 {
  background-position: 0 -409px;
  height: 52px;
  width: 43px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-icons-icon3 {
  background-position: 0 -461px;
  height: 46px;
  width: 47px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-icons-icon4 {
  background-position: 0 -507px;
  height: 51px;
  width: 50px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-icons-icon5 {
  background-position: 0 -558px;
  height: 47px;
  width: 53px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-icons-icon6 {
  background-position: 0 -605px;
  height: 38px;
  width: 48px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-icons-icon7 {
  background-position: 0 -643px;
  height: 45px;
  width: 49px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-icons-icon8 {
  background-position: 0 -688px;
  height: 45px;
  width: 51px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.small-icons-icon9 {
  background-position: 0 -733px;
  height: 48px;
  width: 48px;
}

/* line 176, big-icons/*.png */
.big-icons-sprite, .big-icons-icon1, .big-icons-icon10, .big-icons-icon11, .big-icons-icon12, .big-icons-icon13, .big-icons-icon14, .big-icons-icon15, .big-icons-icon16, .big-icons-icon17, .big-icons-icon2, .big-icons-icon3, .big-icons-icon4, .big-icons-icon5, .big-icons-icon6, .big-icons-icon7, .big-icons-icon8, .big-icons-icon9 {
  background-image: url('../images/sprites/big-icons-s6154f0b960.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-icon1 {
  background-position: 0 0;
  height: 82px;
  width: 74px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-icon10 {
  background-position: 0 -82px;
  height: 82px;
  width: 75px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-icon11 {
  background-position: 0 -164px;
  height: 82px;
  width: 75px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-icon12 {
  background-position: 0 -246px;
  height: 82px;
  width: 67px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-icon13 {
  background-position: 0 -328px;
  height: 82px;
  width: 73px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-icon14 {
  background-position: 0 -410px;
  height: 82px;
  width: 73px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-icon15 {
  background-position: 0 -492px;
  height: 82px;
  width: 73px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-icon16 {
  background-position: 0 -574px;
  height: 82px;
  width: 65px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-icon17 {
  background-position: 0 -656px;
  height: 82px;
  width: 64px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-icon2 {
  background-position: 0 -738px;
  height: 82px;
  width: 68px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-icon3 {
  background-position: 0 -820px;
  height: 82px;
  width: 73px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-icon4 {
  background-position: 0 -902px;
  height: 82px;
  width: 75px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-icon5 {
  background-position: 0 -984px;
  height: 82px;
  width: 83px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-icon6 {
  background-position: 0 -1066px;
  height: 82px;
  width: 75px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-icon7 {
  background-position: 0 -1148px;
  height: 82px;
  width: 77px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-icon8 {
  background-position: 0 -1230px;
  height: 82px;
  width: 80px;
}

/* line 84, C:/Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-icon9 {
  background-position: 0 -1312px;
  height: 82px;
  width: 75px;
}
