/* reset */
/* line 4, ../main.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* /reset */
/* line 26, ../main.scss */
body {
  font-size: 16px;
  font-family: ProximaNova-Regular;
}

/* line 31, ../main.scss */
.limit {
  display: table;
  width: 1000px;
  margin: 0 auto;
}

/* line 37, ../main.scss */
.link {
  color: #00aaff;
}

/* line 40, ../main.scss */
.link:hover {
  text-decoration: none;
}

/* line 41, ../main.scss */
.link-center {
  display: table;
  margin: 10px auto 0;
}

/* line 46, ../main.scss */
h2 {
  font-size: 24px;
  text-align: center;
  font-family: ProximaNova-Regular;
}

/* line 52, ../main.scss */
.dark {
  color: #181818;
}

/* line 53, ../main.scss */
.grey {
  color: #646464;
}

/* line 54, ../main.scss */
.blue {
  color: #00aaff;
}

/* line 56, ../main.scss */
.news {
  display: table;
  width: 100%;
  margin: 40px 0 0 0;
  padding: 30px 0;
  border-top: 1px #f1f7fa solid;
}

/* line 62, ../main.scss */
.news-list {
  margin: 0 auto;
  padding: 0;
  display: table;
  list-style: none;
}

/* line 67, ../main.scss */
.news-list__item {
  float: left;
  margin: 0 35px;
}
