/* line 3, ../tab.scss */
.tabs-block {
  background-color: #f3f6f8;
  min-height: 470px;
  padding: 40px 0 20px;
}

/* line 8, ../tab.scss */
.tabs-block h2 {
  margin-bottom: 40px;
}

/* line 9, ../tab.scss */
.tabs {
  margin: 0;
  padding: 0 0 21px 0;
  float: left;
  list-style: none;
}

/* line 14, ../tab.scss */
.tabs__item {
  float: left;
  width: 95px;
  height: 116px;
  margin: 0 8px -21px;
  background: transparent url(../images/tab.png) no-repeat left top;
}

/* line 20, ../tab.scss */
.tabs__item-active {
  background: transparent url(../images/tab-active.png) no-repeat left top;
}

/* line 23, ../tab.scss */
.tabs__item-clear1 {
  clear: left;
  margin-left: 63px;
}

/* line 27, ../tab.scss */
.tabs__item-clear2 {
  clear: left;
}

/* line 30, ../tab.scss */
.tabs__item a {
  display: block;
  text-align: center;
  height: 95px;
  position: relative;
  top: 9px;
}

/* line 39, ../tab.scss */
.tab {
  width: 280px;
  float: right;
  border: 1px #dbdbdb solid;
  border-radius: 6px;
  text-align: center;
  display: none;
}

/* line 47, ../tab.scss */
.tab:first-child {
  display: block;
}

/* line 50, ../tab.scss */
.tab-header {
  padding: 16px 5px 19px;
  background-color: #f8fafb;
  border-bottom: 1px #dbdbdb solid;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px;
  border-radius: 6px 6px 0 0;
}

/* line 56, ../tab.scss */
.tab-header__img {
  min-height: 82px;
}

/* line 59, ../tab.scss */
.tab-header__title {
  font-size: 14px;
  text-transform: uppercase;
  color: #3a3a3a;
  margin-top: 15px;
  font-family: ProximaNova-Regular;
  font-weight: 600;
}

/* line 67, ../tab.scss */
.tab-content {
  padding: 30px 19px 20px;
  background-color: #fff;
  font-size: 14px;
  color: #737373;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0;
  border-radius: 0 0 6px 6px;
}

/* line 74, ../tab.scss */
.tab-content p {
  line-height: 24px;
  margin-bottom: 25px;
}

/* line 79, ../tab.scss */
.sprite {
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: 25px;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/* line 87, ../tab.scss */
.sprite-big {
  background-repeat: no-repeat;
  display: inline-block;
}
